@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

header {
     background: #378e46 url("img/bg.jpg") no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     text-align: center;
     color: white;
     font-weight: bold;
     padding-bottom: .8em;
}

#logo {
     padding: 2.7em 0em 0em 0em;
     width: 100px;
     height: 100px;
}

.container.narrow {
     max-width: 33em;
     background-color: #fff;
     margin-top: 3em;
}

.container.narrow h1 {
     font-size: 2.3em;
}

input {
  border: 2px solid #ccc;
}

.sectionTitle {
     font-weight: bolder;
     font-size: 1.4em;
}

.plain {
     margin: 0px;
     font-size: 1.2em;
     padding: .3em;
}

.btn-awesome {
     background-color: #378e46;
     border: 1px solid #3d5f2c;
     box-shadow: 0px 2px 0px #345126;
     text-shadow: 0px -1px 1px #1b5640;
     color: #ffffff;
     font-size: 1em;
     padding-top: .7em;
     padding-bottom: .7em;
     font-weight: bold;
     width: 100%;
     margin-bottom: 13px;
     border-radius: 3px;
}

@media(min-width: 30em) {
  .btn-awesome {
    width: 30.30303030303%;
    float: left;
    margin-bottom: 0px;
  }
}

.btn-awesome:hover {
     background-color: #479860;
}

.btn-awesome:active {
     background-color: #2b6c36;
     color: #d7d7d7;
}

.brand {
     color: #ffffff;
     font-size: 1.5em;
     webkit-text-stroke: 4px;
     font-weight: 900;
     letter-spacing: 4px;
     margin-top: 20px;
     font-family: 'Lato', sans-serif;
}

.slogan {
     font-family: georgia, serif;
     font-weight: 100;
     font-size: .6em;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin-bottom: 2.7em;
}

.icons {
     font-size: 2em;
}

.total {
     font-size: 1.3em;
     text-align: right;
     font-weight: bold;
}

.row.gray {
  background-color: #eee;
  padding: 2em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px dotted #bbb;
  
}

.row.gray input{
  margin-bottom: 0em;
  margin-right: 0px;
 }

hr {
  border-bottom: none;
  border-top: 1px dotted #ccc;
}

/*--------------Parsley Validation-----------*/
input.parsley-error {
  border: solid 2px #f01e1e;
}

input.parsley-success {
  border: solid 2px #378e46;
}

ul.parsley-error-list {
  margin: 0px;
}

ul.parsley-error-list li {
  color: #f01e1e;
  font-size: 11px;
  list-style-type: none;
  margin-bottom: none;
}