body {
	margin:0px; padding:0px;
	background: url("images/bg.png") repeat;
        font-family: Arial, sans-serif;
}

#container {
	margin: 0 auto;
	width: 330px;
}

#logo {
	margin-top: 80px;
	margin-left: 4px;
	margin-bottom: 15px;
}

#outerBox {
	background: url("images/outerBG.png") repeat;
	width: 330px;
	height: 395px;
	margin-bottom: 30px;
	border-radius: 5px;
	position: absolute;
	border: 1px solid #0b0b0b;
}

#innerBox {
	background-color: #101010;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: -2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px 20px 15px 20px;
	border: 1px solid #0b0b0b;
	-moz-box-shadow: 0px 1px 0px #404040;
	-webkit-box-shadow: 0px 1px 0px #404040;
	box-shadow: 0px 1px 0px #404040;
}

#innerBox span {
	color: #535353;
	font-size: 12px;
	text-shadow: 0 1px 1px #000;
}

.row {
	margin-top: 22px;
	margin-bottom: 15px;
}

*:focus {outline: none;}

.inputBox {
	background-color: #0b0b0b;
	float: right;
	text-shadow: 0 0 3px #000;
	padding-bottom: 0px;
	width: 68px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #000;
	-moz-box-shadow: 0px 1px 0px #404040;
	-webkit-box-shadow: 0px 1px 0px #404040;
	box-shadow: 0px 1px 0px #404040;
	color: white;
	padding: 3px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	bottom: 6px;
}

.inputBox:focus {
	outline: #fff;
	}
	
.sep {
	margin-left: -20px;
}

#dolla1 {
	display: inline;
	font-weight: normal;
	font-size: 20px;
	margin-left: 70px;
	color: #333;
	
}

#dolla2 {
	display: inline;
	font-weight: normal;
	font-size: 17px;
	color: #333;
	float: left;
	margin-left: 6px;
	margin-top: 9px;
	
}

#calcBG {
	background: url("images/shadow.png") repeat;
	margin-top: 10px;
	margin-left: 7px;
	width: 185px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-bottom: 4px;
}

#calcBtn {
	background: url(images/btnBG.png) repeat-x;
	display: inline-block;
	padding: 18px 52px 18px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 1px #9b1b12;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
}

#calcBtn:hover {
	background: url(images/btnBGhover.png) repeat-x;
}

#calcBtn:active {
	opacity: .9;
}

#results {
	background-color: #101010;
	float: right;
	margin-right: 7px;
	margin-top: -61px;
	text-shadow: 0 0 3px #000;
	padding-bottom: 0px;
	width: 119px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #0b0b0b;
	-moz-box-shadow: 0px 1px 0px #404040;
	-webkit-box-shadow: 0px 1px 0px #404040;
	box-shadow: 0px 1px 0px #404040;
	
}

#number {
	float: right;
	display: inline;
	margin-right: 0px;
	position: relative;
	top: 1px;
	right: 4px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}


#dropDown{
	padding: 0px;
	background: #3f3f3f;
	border: 1px solid #3f3f3f;
	border-top-color: #656565;
	text-align: left;
	width: 109px;
	padding: 3px;
	padding-left: 5px;
	font-size: 10px;
	color: white;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 14px;
}
